<h1>Add a cd</h1>
<p>Add a cd here:</p>
<form action="/cds" method="post">
  <label for="cd-name"></label>
  <input id="cd-name" name="cd-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
